PORT=3000

# Variable solicitada por server.js
MONGO_URI=aqui_va_tu_uri_completa_de_mongodb

# Variables solicitadas por src/config/database.js para evitar error de inconsistencia
MONGODB_URI=aqui_va_la_url_base_de_tu_cluster_mongodb
MONGODB_DB=nombre_de_tu_base_de_datos

# Secreto para firmar los Tokens (Obligatorio para que funcione el Login y el registro)
JWT_SECRET=escribe_aqui_tu_secreto_para_json_web_tokens
